<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
  	<h3>Submitted Information</h3>
  	<p>Name: <%= name %></p>
  	<p>Dojo Location: <%= location %></p>
  	<p>Favorite Language: <%= language %></p>
  	<p>Comment: <%= comment %></p>
  	<button class='btn btn-info'><a href='/'>Go back</button>
  </body>
</html>